.dashboardBody {
    width: 100%;
    margin-top: 20px;
}

#sessionGraph {
    display: block;
    width: 90%;
    margin: 0 auto !important;
  }
  
  svg {
    overflow: visible;
  }
  
  text {
    fill: #fff;
    color: #fff;
    font-size: 14px;
  }
  
  .axis .domain, .axis.xAxis line {
    display: none;
  }