.wHComponentWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  
    .wHImageSide {
      width: 35%;
      overflow: hidden;
  
      .wHImageImage {
        width: 100%;
      }
    }
  
    .wHTextSide {
      width: 61%;
  
      .wHTitle {
        font-family: $header-font-fam;
        border-bottom: 2px $text-colour solid;
        margin-bottom: 0.5em;
        @include fluid-type(320px, 1200px, 22px, 35px);
      }

      .wHTime {
        font-family: $header-font-fam;
        margin-bottom: 0.5em;
        @include fluid-type(320px, 1200px, 15px, 28px);          
      }
  
      .wHBullets {
        margin-top: 3vw;
        width: 95%;

        table {
            width: 100%;
            border-spacing: .6vw;
            @include fluid-type(320px, 1200px, 10px, 20px);   

            td {
                width: 50%;
                text-align: center;
                background-color: $text-colour; 
                color: $tertiary-colour;
                font-weight: bold;
            }
        }
    }
}
}
  