.workHistoryWrapper {
    padding-bottom: 10vh;
    background: $tertiary-colour;
  
    .workHistoryContainer {
      width: 90%;
      margin: 5vh auto;
  
      h1 {
        color: $text-colour;
        font-family: $header-font-fam;
        letter-spacing: 0.95rem;
        line-height: 1.5em;
        border-bottom: 1px solid $primary-colour;
        padding-bottom: 1vh;
        margin-bottom: 2vh;
        @include fluid-type(320px, 1200px, 30px, 40px);
  
        a {
          opacity: 0.7;
          color: $text-colour;
          @include transition-time;
  
          &:hover {
            opacity: 1;
          }
        }
      }
  
      .workHistoryNavbar {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 4vw;
  
        .workHistItem {
          opacity: 0.5;
          color: $text-colour;
          font-family: $header-font-fam;
          letter-spacing: 0.25em;
          text-decoration: none;
          @include fluid-type(320px, 1200px, 10px, 30px);
          @include transition-time;
  
          &:hover {
            opacity: 1;
          }
  
          &:active {
            opacity: 1;
          }
        }
      }
    }
  }
  