@import "variables", "navbar", "intro", "about";

body {
    background-color: $tertiary-colour;
    width: 100%;
    font-family: $body-font-fam;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include fluid-type(320px, 1200px, 12px, 20px);
    letter-spacing: 0.1rem;
    line-height: 1.6rem;
    color: $text-colour;
    margin: 0;

  
    a {
      color: $highlight-colour;
      font-weight: bolder;
      text-decoration: none;
      @include transition-time;
  
      &:hover {
        color: $primary-colour;
      }
    }

  .App{
    margin: 0;
  }
}
