@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Staatliches&display=swap");
.navbarWrapper {
  width: 100%;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 10;
  background-color: #0099cc;
}
.navbarWrapper .navbarContainer {
  width: 97%;
  height: 3vh;
  margin: 10px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbarWrapper .navbarContainer .navbarLinks {
  display: inline-block;
  float: left;
  margin-left: 3vw;
  font-family: "Staatliches", cursive;
  letter-spacing: 0.35vw;
}
.navbarWrapper .navbarContainer .navbarLinks {
  font-size: 10px;
}
@media screen and (min-width: 320px) {
  .navbarWrapper .navbarContainer .navbarLinks {
    font-size: calc( 10px + 8 * ((100vw - 320px) / 880) );
  }
}
@media screen and (min-width: 1200px) {
  .navbarWrapper .navbarContainer .navbarLinks {
    font-size: 18px;
  }
}
.navbarWrapper .navbarContainer .navbarLinks a {
  margin-right: 3vw;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}
.navbarWrapper .navbarContainer .navbarLinks a:hover {
  color: #fff;
  cursor: pointer;
}
.navbarWrapper .navbarContainer .navbarSocial {
  display: inline-block;
  float: right;
  margin-right: 3vw;
}
.navbarWrapper .navbarContainer .navbarSocial a {
  margin-right: 2vw;
  color: #000;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}
.navbarWrapper .navbarContainer .navbarSocial a:hover {
  color: #fff;
  cursor: pointer;
}
.navbarWrapper:after {
  content: "";
  background: inherit;
  top: 0;
  display: block;
  height: 10vh;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-transform: skewY(-1.2deg);
          transform: skewY(-1.2deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

.introContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #0099cc;
  background-image: url("./../../Containers/Intro/beach.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  overflow: hidden;
  z-index: 5;
}
.introContainer .introText {
  padding: 5vw;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
}
.introContainer .introText h1 {
  color: #000;
  font-family: "Staatliches", cursive;
  letter-spacing: 0.95rem;
  line-height: 1em;
  margin-top: 2vh;
  border-top: 1px solid #000;
  padding-top: 1vh;
  border-bottom: 1px solid #000;
  padding-bottom: 1vh;
  margin-bottom: 2vh;
}
.introContainer .introText h1 {
  font-size: 37px;
}
@media screen and (min-width: 320px) {
  .introContainer .introText h1 {
    font-size: calc( 37px + 33 * ((100vw - 320px) / 880) );
  }
}
@media screen and (min-width: 1200px) {
  .introContainer .introText h1 {
    font-size: 70px;
  }
}
.introContainer .introText h2 {
  color: #000;
  margin-bottom: 0.5em;
}
.introContainer .introText h2 {
  font-size: 12px;
}
@media screen and (min-width: 320px) {
  .introContainer .introText h2 {
    font-size: calc( 12px + 8 * ((100vw - 320px) / 880) );
  }
}
@media screen and (min-width: 1200px) {
  .introContainer .introText h2 {
    font-size: 20px;
  }
}
.introContainer .introText p a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  margin: 0 0.5em;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}
.introContainer .introText p a {
  font-size: 13px;
}
@media screen and (min-width: 320px) {
  .introContainer .introText p a {
    font-size: calc( 13px + 5 * ((100vw - 320px) / 880) );
  }
}
@media screen and (min-width: 1200px) {
  .introContainer .introText p a {
    font-size: 18px;
  }
}
.introContainer .introText p a:hover {
  color: #0099cc;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.introContainer .introText p span {
  font-weight: bolder;
}
.introContainer .introText .adventureImage {
  position: absolute;
  bottom: 3vw;
  left: 3vw;
  width: 30vw;
  -webkit-animation: surf 5s infinite ease-in-out;
          animation: surf 5s infinite ease-in-out;
  z-index: 9;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

@-webkit-keyframes surf {
  0%, 100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  20% {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  80% {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
}

@keyframes surf {
  0%, 100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  20% {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  80% {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
}
@media (max-width: 900px) {
  .introContainer .introText {
    width: 75%;
  }
  .introContainer .adventureImage {
    width: 35vw;
  }
}
@media (max-width: 800px) {
  .introContainer .introText {
    width: 75%;
  }
  .introContainer .adventureImage {
    width: 40vw;
  }
}
@media (max-width: 629px) {
  .introContainer .introText {
    width: 75%;
  }
  .introContainer .adventureImage {
    width: 50vw;
  }
}
.aboutWrapper {
  margin: 100vh 0 5vh 0;
  width: 100%;
  background: #0099cc;
  line-height: 1.8em;
}
.aboutWrapper:before {
  content: "";
  position: relative;
  background: #0099cc;
  top: 0;
  display: block;
  height: 10vh;
  width: 95%;
  left: 0;
  right: 0;
  -webkit-transform: skewY(1.85deg);
          transform: skewY(1.85deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  z-index: 9;
}
.aboutWrapper h1 {
  color: #000;
  font-family: "Staatliches", cursive;
  letter-spacing: 0.95rem;
  line-height: 1.5em;
  border-bottom: 1px solid #000;
  padding-bottom: 1vh;
  margin-bottom: 2vh;
}
.aboutWrapper h1 {
  font-size: 30px;
}
@media screen and (min-width: 320px) {
  .aboutWrapper h1 {
    font-size: calc( 30px + 10 * ((100vw - 320px) / 880) );
  }
}
@media screen and (min-width: 1200px) {
  .aboutWrapper h1 {
    font-size: 40px;
  }
}
.aboutWrapper .aboutContainer {
  width: 85%;
  margin: 5% auto;
}
.aboutWrapper .aboutContainer b {
  font-weight: bolder;
}
.aboutWrapper .aboutContainer a {
  color: #fff;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}
.aboutWrapper .aboutContainer a:hover {
  color: #ffcc11;
}
.aboutWrapper .aboutContainer table {
  width: 100%;
  border-spacing: 0.6vw;
}
.aboutWrapper .aboutContainer table td {
  width: 30%;
  text-align: center;
  background-color: #000;
  font-weight: bold;
}
.aboutWrapper .aboutContainer table td a {
  color: #0099cc;
}
.aboutWrapper .aboutContainer table td a:hover {
  color: #fff;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}
.aboutWrapper .aboutContainer table td:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

.workHistoryWrapper {
  padding-bottom: 10vh;
  background: #0099cc;
}
.workHistoryWrapper .workHistoryContainer {
  width: 90%;
  margin: 5vh auto;
}
.workHistoryWrapper .workHistoryContainer h1 {
  color: #000;
  font-family: "Staatliches", cursive;
  letter-spacing: 0.95rem;
  line-height: 1.5em;
  border-bottom: 1px solid #fff;
  padding-bottom: 1vh;
  margin-bottom: 2vh;
}
.workHistoryWrapper .workHistoryContainer h1 {
  font-size: 30px;
}
@media screen and (min-width: 320px) {
  .workHistoryWrapper .workHistoryContainer h1 {
    font-size: calc( 30px + 10 * ((100vw - 320px) / 880) );
  }
}
@media screen and (min-width: 1200px) {
  .workHistoryWrapper .workHistoryContainer h1 {
    font-size: 40px;
  }
}
.workHistoryWrapper .workHistoryContainer h1 a {
  opacity: 0.7;
  color: #000;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}
.workHistoryWrapper .workHistoryContainer h1 a:hover {
  opacity: 1;
}
.workHistoryWrapper .workHistoryContainer .workHistoryNavbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4vw;
}
.workHistoryWrapper .workHistoryContainer .workHistoryNavbar .workHistItem {
  opacity: 0.5;
  color: #000;
  font-family: "Staatliches", cursive;
  letter-spacing: 0.25em;
  text-decoration: none;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}
.workHistoryWrapper .workHistoryContainer .workHistoryNavbar .workHistItem {
  font-size: 10px;
}
@media screen and (min-width: 320px) {
  .workHistoryWrapper .workHistoryContainer .workHistoryNavbar .workHistItem {
    font-size: calc( 10px + 20 * ((100vw - 320px) / 880) );
  }
}
@media screen and (min-width: 1200px) {
  .workHistoryWrapper .workHistoryContainer .workHistoryNavbar .workHistItem {
    font-size: 30px;
  }
}
.workHistoryWrapper .workHistoryContainer .workHistoryNavbar .workHistItem:hover {
  opacity: 1;
}
.workHistoryWrapper .workHistoryContainer .workHistoryNavbar .workHistItem:active {
  opacity: 1;
}

.wHComponentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.wHComponentWrapper .wHImageSide {
  width: 35%;
  overflow: hidden;
}
.wHComponentWrapper .wHImageSide .wHImageImage {
  width: 100%;
}
.wHComponentWrapper .wHTextSide {
  width: 61%;
}
.wHComponentWrapper .wHTextSide .wHTitle {
  font-family: "Staatliches", cursive;
  border-bottom: 2px #000 solid;
  margin-bottom: 0.5em;
}
.wHComponentWrapper .wHTextSide .wHTitle {
  font-size: 22px;
}
@media screen and (min-width: 320px) {
  .wHComponentWrapper .wHTextSide .wHTitle {
    font-size: calc( 22px + 13 * ((100vw - 320px) / 880) );
  }
}
@media screen and (min-width: 1200px) {
  .wHComponentWrapper .wHTextSide .wHTitle {
    font-size: 35px;
  }
}
.wHComponentWrapper .wHTextSide .wHTime {
  font-family: "Staatliches", cursive;
  margin-bottom: 0.5em;
}
.wHComponentWrapper .wHTextSide .wHTime {
  font-size: 15px;
}
@media screen and (min-width: 320px) {
  .wHComponentWrapper .wHTextSide .wHTime {
    font-size: calc( 15px + 13 * ((100vw - 320px) / 880) );
  }
}
@media screen and (min-width: 1200px) {
  .wHComponentWrapper .wHTextSide .wHTime {
    font-size: 28px;
  }
}
.wHComponentWrapper .wHTextSide .wHBullets {
  margin-top: 3vw;
  width: 95%;
}
.wHComponentWrapper .wHTextSide .wHBullets table {
  width: 100%;
  border-spacing: 0.6vw;
}
.wHComponentWrapper .wHTextSide .wHBullets table {
  font-size: 10px;
}
@media screen and (min-width: 320px) {
  .wHComponentWrapper .wHTextSide .wHBullets table {
    font-size: calc( 10px + 10 * ((100vw - 320px) / 880) );
  }
}
@media screen and (min-width: 1200px) {
  .wHComponentWrapper .wHTextSide .wHBullets table {
    font-size: 20px;
  }
}
.wHComponentWrapper .wHTextSide .wHBullets table td {
  width: 50%;
  text-align: center;
  background-color: #000;
  color: #0099cc;
  font-weight: bold;
}

.footerWrapper {
  position: relative;
  width: 100%;
  bottom: 0;
  margin: 3vw 0 0 0;
  background: #000;
  padding-bottom: 5vh;
}
.footerWrapper:before {
  content: "";
  position: relative;
  background: #000;
  top: 0;
  display: block;
  height: 10vh;
  left: 0;
  right: 0;
  -webkit-transform: skewY(1.5deg);
          transform: skewY(1.5deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  z-index: 2;
}
.footerWrapper .footerContainer {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  color: #0099cc;
}

body {
  background-color: #0099cc;
  width: 100%;
  font-family: "Questrial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.1rem;
  line-height: 1.6rem;
  color: #000;
  margin: 0;
}
body {
  font-size: 12px;
}
@media screen and (min-width: 320px) {
  body {
    font-size: calc( 12px + 8 * ((100vw - 320px) / 880) );
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}
body a {
  color: #ffcc11;
  font-weight: bolder;
  text-decoration: none;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}
body a:hover {
  color: #fff;
}
body .App {
  margin: 0;
}/*# sourceMappingURL=style.css.map */